h1 {
    color:black;
}

body{
    background-image: url("../img/png-transparent-pink-magenta-pattern-pink-background-texture-point-pink-background.png");
}

.centrar{
    text-align: center;
}



