*{
    margin: 0;
    padding: 0;
}

h1 {
    color:black;
}

body{
    background-image: url(../img/png-transparent-pink-magenta-pattern-pink-background-texture-point-pink-background.png);
    background-size: cover;
}

.centrar{
    text-align: center;
}
 

header li{
    text-align: center;
    display:inline
    
}
.luylu{
    background-color: palevioletred;
}



.lu1{
    height: 300px;
    width: 300px;
    border: 2px black solid;
    margin-left: 250px;
}

footer{
    background-color: antiquewhite;
    height: 5vh;
}

nav{
    height: 5vh;
    background-color:antiquewhite;
}

.whatsap, .instagram{
    height: 25px;
    width: 25px;
}