.formulario{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.5);

    .flex{
        display: flex;
        flex-direction: column;

        input{
            margin: 25px 0;
        }
    }

    .contactanos{
        margin: 5px;
    }
}