.gridGaleria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i"
    ;
    justify-content: stretch;
    align-items: stretch;
    
    img{
        max-width: 300px;
        padding: 1rem;
        border: 3px palevioletred solid;
        border-radius: 8px;
        margin: 20px;
        &:hover{
            transition: all ease-in-out 1s;
            transform: scale(1.5);
        }

        .a{
            grid-area: a;
        }
        .b{
            grid-area: b;
        }
        .c{
            grid-area: c;
        }
        .d{
            grid-area: d;
        }
        .e{
            grid-area: e;
        }
        .f{
            grid-area: f;
        }
        .g{
            grid-area: g;
        }
        .h{
            grid-area: h;
        }
        .i{
            grid-area: i;
        }
    }
}

@include mobile {
    .gridGaleria{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        ;
        justify-items: center;
    }
    .a{
        grid-area: a;
    }
    .b{
        grid-area: b;
    }
    .c{
        grid-area: c;
    }
    .d{
        grid-area: d;
    }
    .e{
        grid-area: e;
    }
    .f{
        grid-area: f;
    }
    .g{
        grid-area: g;
    }
    .h{
        grid-area: h;
    }
    .i{
        grid-area: i;
    }
    img{
    max-width :150px;
    max-height: 150px;
    transform: scale(1.25);
    }
}