.conocer{
    display: flex;
    flex-direction: row;
}

.intron{
    text-align: center;
    background-color: #F776AA;
    margin: 40px;
    padding: 20px;
    border: 3x black solid;
    border-radius: 10px;
}