footer{
    background-color: antiquewhite;
    height: 5vh;

    nav{
        height: 5vh;
        background-color:antiquewhite;
        
        .whatsap, .instagram{
            height: 25px;
            width: 25px;
        }
    }
}